# Creating temporary tables

## Syntax

### CREATE TEMP TABLE Syntax

One way to create a temporary table is with a select query. 

The results of the query are saved as a table that you can use later. 
To do this, we preface any select query with the words create temp table, then a name for the table we're creating, and finally the keyword as.
This copies the result of the select query into a new table that has no connection to the original table.

In [ ]:
-- Create table as
 CREATE TEMP TABLE new_tablename AS
 -- Query results to store in the table
 SELECT column1, column2
FROM table;

In [ ]:
-- Example
CREATE TEMP TABLE top_companies AS
 SELECT rank,
        title
   FROM fortune500
  WHERE rank <= 10;

### SELECT INTO Syntax

There are other ways to create temporary tables as well. You may have seen the "select into" syntax before. 
You add a special clause into the middle of a select query to direct the results into a new temp table. 

In this example, the added clause is the middle line of code. Both of these queries do the same thing, just with different syntax. 

We're going to use the create table syntax in this course. It's the method recommended by Postgres, and it allows you to use options not available with the "select into" syntax.

In [ ]:
-- Select existing columns
 SELECT column1, column2
   -- Clause to direct results to a new temp table
   INTO TEMP TABLE new_tablename
   -- Existing table with exisitng columns
   FROM table;

In [ ]:
-- Example

INSERT INTO top_companies
 SELECT rank, title
   FROM fortune500
  WHERE rank BETWEEN 11 AND 20;

### Delete (drop) table

To delete a table, use the drop table command. The table will be deleted immediately without warning. Dropping a table can be useful if you made a mistake when creating it or when inserting values into it. Temporary tables will also be deleted automatically when you disconnect from the database. 

A variation on the drop table command adds the clause if exists before the table name. This means to only try to delete the table after confirming that such a table exists. This variation is often used in scripts because it won't cause an error if the table doesn't exist.

In [ ]:
DROP TABLE top_companies;

DROP TABLE IF EXISTS top_companies;

---

# Character data types and common issues

### PostgreSQL character types

`character(n)` or `char(n)`
- fixed length `n`
- trailing spaces ignored in comparisons 

`character varying(n)` or `varchar(n)`
- variable length up to a maximum of n 

`text` or `varchar`
- unlimited length

## Types of text data

Regardless of the formal column type, for analysis, we want to distinguish between two types of text data: categorical variables and unstructured text. 

### Categorical
Categorical variables are short strings of text with values that are repeated across multiple rows. 
<br>They take on a finite and manageable set of distinct values. 
<br>Days of the week, product categories, and multiple choice survey question responses are all examples of categorical variables. 

**Examples:**
>- Tues, Tuesday, Mon, TH
>- shirts, shoes, hats, pants
>- satisfied, very satisfied, unsatisfied 0349-938, 1254-001, 5477-651
>- red, blue, green, yellow

### Unstructured text
Unstructured text consists of longer strings of unique values, such as answers to open-ended survey questions or product reviews. 
<br>To analyze unstructured text, we can create new variables that extract features from the text or indicate whether the text has particular characteristics. 
<br>For example, we could create binary indicator variables that denote whether the text contains keywords of particular interest.

**Examples:**
>- I really like this product. I use it every day. It's my favorite color.
>- We've redesigned your favorite t-shirt to make it even better. You'll love...
>- Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal...

## Grouping and counting

The first things to check with categorical variables are the set of distinct categories and the number of observations, or rows, for each category. 
We do this with GROUP BY and count. 
<br>Without ordering the results, it's hard to tell which categories are commonly used and whether any categories should be grouped together.

In [ ]:
SELECT category,        -- categorical variable
       count(*)         -- count rows for each category
  FROM product          -- table
 GROUP BY category;     -- categorical variable

```
 category | count
----------+-------
 Banana   |     1
 Apple    |     4
 apple    |     2
  apple   |     1
 banana   |     3
(5 rows)
```

---

# Date/time types and formats

### Main types

`date`
- YYYY-MM-DD
- example: 2018-12-30

`timestamp`
- YYYY-MM-DD HH:MM:SS example: 2018-12-30 13:10:04.3

### Intervals
`interval` examples: 
- 6 days 01:48:08
- 00:51:03
- 1 day 21:57:47
- 07:48:46
- 406 days 00:31:56

### ISO 8601
ISO = International Organization for Standards

**YYYY-MM-DD HH:MM:SS**

Example: 2018-01-05 09:35:15


### UTC and timezones
UTC = Coordinated Universal Time

Timestamp with timezone:
**YYYY-MM-DD HH:MM:SS+HH**

Example: 2004-10-19 10:23:54+02