# Creating temporary tables

## Syntax

### CREATE TEMP TABLE Syntax

One way to create a temporary table is with a select query. 

The results of the query are saved as a table that you can use later. 
To do this, we preface any select query with the words create temp table, then a name for the table we're creating, and finally the keyword as.
This copies the result of the select query into a new table that has no connection to the original table.

In [ ]:
-- Create table as
 CREATE TEMP TABLE new_tablename AS
 -- Query results to store in the table
 SELECT column1, column2
FROM table;

In [ ]:
-- Example
CREATE TEMP TABLE top_companies AS
 SELECT rank,
        title
   FROM fortune500
  WHERE rank <= 10;

### SELECT INTO Syntax

There are other ways to create temporary tables as well. You may have seen the "select into" syntax before. 
You add a special clause into the middle of a select query to direct the results into a new temp table. 

In this example, the added clause is the middle line of code. Both of these queries do the same thing, just with different syntax. 

We're going to use the create table syntax in this course. It's the method recommended by Postgres, and it allows you to use options not available with the "select into" syntax.

In [ ]:
-- Select existing columns
 SELECT column1, column2
   -- Clause to direct results to a new temp table
   INTO TEMP TABLE new_tablename
   -- Existing table with exisitng columns
   FROM table;

In [ ]:
-- Example

INSERT INTO top_companies
 SELECT rank, title
   FROM fortune500
  WHERE rank BETWEEN 11 AND 20;

### Delete (drop) table

To delete a table, use the drop table command. The table will be deleted immediately without warning. Dropping a table can be useful if you made a mistake when creating it or when inserting values into it. Temporary tables will also be deleted automatically when you disconnect from the database. 

A variation on the drop table command adds the clause if exists before the table name. This means to only try to delete the table after confirming that such a table exists. This variation is often used in scripts because it won't cause an error if the table doesn't exist.

In [ ]:
DROP TABLE top_companies;

DROP TABLE IF EXISTS top_companies;